---
layout: archive
---
<p>Lumen Helpdesk merupakan robot helpdesk otomatis berbasis kecerdasan buatan yang dapat melayani pengguna melalui channel pesan instan (chat) maupun media sosial.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/naZ-othOfuU" frameborder="0" allowfullscreen></iframe>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
